In [3]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("transactions.csv")
df.head()

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit

# 1What is the total sales amount across all transactions?

In [10]:
df['t_amt'].sum()

np.float64(5110820.54)

# 2Which month had the highest total transaction amount?

In [36]:
df['t_date']=pd.to_datetime(df['t_date'])
df["month"]=df['t_date'].dt.month_name()
monthly_sales = df.groupby('month')['t_amt'].sum()
monthly_sales.sort_values(ascending=False)

month
March        444664.24
July         439560.80
January      438165.76
August       434255.01
May          432627.58
September    429321.63
October      424856.28
December     421490.73
June         421074.55
April        420695.24
November     408846.35
February     395262.37
Name: t_amt, dtype: float64

# 3What is the average transaction amount per customer?

In [43]:
df.groupby('cust_id')['t_amt'].mean()

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

# 4.What is the trend of total sales over months?

# 5What is the highest single transaction amount recorded?

In [45]:
# What is the highest single transaction amount recorded?
df['t_amt'].max()

np.float64(200.0)

# 6Which service category contributes the most to total revenue?

In [24]:
revenue= df.groupby('services')['t_amt'].sum()
print(revenue)

services
Air Sports                 99316.90
Combat Sports             164730.67
Dancing                    42603.71
Exercise & Fitness        766463.87
Games                     374932.70
Gymnastics                327225.34
Indoor Games              288506.04
Jumping                   205842.67
Outdoor Play Equipment    294728.28
Outdoor Recreation        846678.64
Puzzles                    61564.75
Racquet Sports            166976.06
Team Sports               617461.38
Water Sports              531815.97
Winter Sports             321973.56
Name: t_amt, dtype: float64

# 7 Which product generated the highest revenue?

In [46]:
revenue= df.groupby('services')['t_amt'].sum()
highest = revenue.head(1)
highest

services
Air Sports    99316.9
Name: t_amt, dtype: float64

# 8.How does the average transaction amount vary between services?

In [47]:
AVG=df.groupby('services')['t_amt'].mean()
print(AVG)

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

# 9.How many unique customers made purchases?

In [49]:
df['cust_id'].unique()

array([4007024, 4006742, 4009775, ..., 4004928, 4006048, 4000216],
      shape=(9926,))

# 10.Which customers have spent the most overall?

In [56]:
overall=df.groupby('cust_id')['t_amt'].sum()
top=overall.sort_values(ascending=False)
top.head(1)

cust_id
4009485    1973.3
Name: t_amt, dtype: float64

# 11.What is the average number of transactions per customer?

In [60]:
avg=df.groupby('cust_id').size().mean()
avg

np.float64(5.037275841225066)

# 12.Are there customers who made multiple purchases in different categories?

In [62]:
cate=df.groupby('cust_id')['services'].nunique()
customers= cate[cate>1]
print(customers)

cust_id
4000000    4
4000001    8
4000002    2
4000003    3
4000004    3
          ..
4009995    4
4009996    6
4009997    4
4009998    4
4009999    5
Name: services, Length: 9488, dtype: int64

# 13.What percentage of customers are repeat buyers?

In [63]:
tran = df.groupby("cust_id").size()
repeat_buyers = tran[tran > 1]
num_repeat = repeat_buyers.count()
total = df["cust_id"].nunique()
per = (num_repeat / total) * 100
print(per)

96.5645778762845

# 14. Which product category has the highest total sales?

In [64]:
categ = df.groupby("products_used")["t_amt"].sum()
cate_sales = categ.sort_values(ascending=False)
print(cate_sales)

products_used
Yoga & Pilates                47804.94
Swing Sets                    47204.14
Lawn Games                    46828.44
Golf                          46577.68
Cardio Machine Accessories    46485.54
                                ...
Tetherball                    35611.93
Surfing                       35069.08
Disc Golf                     33944.02
Mechanical Puzzles            20381.67
Air Suits                     19371.57
Name: t_amt, Length: 125, dtype: float64

# 15.Which services are most popular by transaction count?

In [66]:
service_popularity = df["services"].value_counts()
print(service_popularity)

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

# 16.For each service, which product type is purchased most frequently?

In [68]:
service = df.groupby(["services", "products_used"]).size()
top_products = service.groupby(level=0).idxmax()
top_products

services
Air Sports                                        (Air Sports, Parachutes)
Combat Sports                                      (Combat Sports, Boxing)
Dancing                                             (Dancing, Ballet Bars)
Exercise & Fitness        (Exercise & Fitness, Cardio Machine Accessories)
Games                                                     (Games, Mahjong)
Gymnastics                                     (Gymnastics, Balance Beams)
Indoor Games                                      (Indoor Games, Foosball)
Jumping                                             (Jumping, Trampolines)
Outdoor Play Equipment                (Outdoor Play Equipment, Swing Sets)
Outdoor Recreation                        (Outdoor Recreation, Lawn Games)
Puzzles                                          (Puzzles, Jigsaw Puzzles)
Racquet Sports                                 (Racquet Sports, Badminton)
Team Sports                                          (Team Sports, Hockey)
Water Sports                                  (Water Sports, Bodyboarding)
Winter Sports                        (Winter Sports, Cross-Country Skiing)
dtype: object

# 17.What is the average transaction amount per product type?

In [69]:
df.groupby("products_used")["t_amt"].mean()

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

# 18.Are there specific services where customers spend significantly more?

In [70]:
avg = df.groupby("services")["t_amt"].mean()

avg_service_spending = avg.sort_values(ascending=False)
avg_service_spending

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

# 19.Which state has the highest total sales?

In [72]:
state_sales = df.groupby("state")["t_amt"].sum()
state_sales = state_sales.sort_values(ascending=False)
state_sales.head(1)

state
California    702346.23
Name: t_amt, dtype: float64

# 20.Which city records the highest number of transactions?

In [74]:
city_trans= df["city"].value_counts()
city_trans.head(1)

city
Pasadena    939
Name: count, dtype: int64

# 21.What is the average spending per transaction in each state?

In [75]:
spending = df.groupby("state")["t_amt"].mean()
spending = spending.sort_values(ascending=False)
spending

state
Nevada                  105.434718
Oklahoma                104.995771
Virginia                104.976206
Massachusetts           104.541571
Utah                    104.507560
Kentucky                104.130392
District of Columbia    103.800334
South Carolina          103.540065
Louisiana               103.466335
Minnesota               103.465157
New Jersey              103.438005
Florida                 103.136567
Iowa                    103.100727
North Carolina          103.033172
Pennsylvania            102.776034
California              102.652182
Alabama                 102.487049
Oregon                  102.438143
Georgia                 102.330675
Arizona                 102.172241
Nebraska                101.955690
Wisconsin               101.953159
Michigan                101.547777
Colorado                101.537415
Hawaii                  101.536667
Kansas                  101.436926
Washington              101.401603
Texas                   101.379891
Ohio                    101.350817
Mississippi             101.214926
Missouri                100.969040
Indiana                 100.712664
Maryland                100.506913
New York                100.259452
Illinois                100.166315
Connecticut              99.982108
Tennessee                99.265804
Idaho                    98.969538
Name: t_amt, dtype: float64

# 22.Are certain services more popular in specific states?

In [76]:
pd.crosstab(df["state"], df["services"])

services,Air Sports,Combat Sports,Dancing,Exercise & Fitness,Games,Gymnastics,Indoor Games,Jumping,Outdoor Play Equipment,Outdoor Recreation,Puzzles,Racquet Sports,Team Sports,Water Sports,Winter Sports
state,,,,,,,,,,,,,,,
Alabama,21,44,8,160,80,74,64,52,64,191,12,38,131,124,69
Arizona,24,43,13,175,89,86,76,51,66,247,13,30,153,121,98
California,122,197,55,988,512,422,376,319,427,1188,83,205,816,720,412
Colorado,35,62,13,268,135,118,108,74,92,279,15,61,211,177,108
Connecticut,19,27,7,121,71,75,65,25,51,140,10,37,104,102,57
District of Columbia,10,13,6,78,31,39,25,18,35,64,7,15,63,55,20
Florida,52,93,24,381,185,153,154,93,172,483,35,71,342,277,150
Georgia,14,25,4,125,58,43,53,38,49,153,9,34,107,106,56
Hawaii,2,16,2,57,33,28,23,23,28,72,8,10,59,41,21
Idaho,9,11,6,69,39,26,19,15,26,81,3,13,51,60,27
Illinois,23,38,12,192,96,90,78,48,74,224,15,44,165,148,91
Indiana,10,14,4,69,29,27,27,20,26,91,8,14,43,38,23
Iowa,10,12,4,72,32,30,28,13,15,74,7,17,61,54,25
Kansas,21,31,4,120,60,57,49,45,55,154,12,31,100,96,79
Kentucky,28,34,11,116,50,49,38,40,46,156,14,32,113,79,61
Louisiana,6,18,5,73,47,25,25,13,35,77,8,22,58,42,18
Maryland,8,11,3,60,34,36,27,13,24,80,5,18,47,47,34
Massachusetts,30,47,10,200,111,89,75,53,83,253,13,39,158,126,88
Michigan,19,20,9,150,67,60,60,41,55,152,15,36,111,114,58
Minnesota,16,31,8,126,62,47,47,39,42,169,18,31,114,96,48
Mississippi,7,20,5,64,29,42,27,15,25,78,2,12,62,55,30
Missouri,32,36,9,192,95,85,69,56,78,226,13,46,147,142,86
Nebraska,16,29,6,131,80,60,42,37,49,149,11,26,115,82,65
Nevada,17,25,6,152,63,57,61,34,53,135,7,39,109,84,63
New Jersey,27,48,10,206,92,75,74,58,64,225,21,45,157,136,85
New York,18,23,8,154,92,66,60,34,53,140,10,30,119,105,73
North Carolina,20,28,2,128,61,51,41,32,58,153,8,30,90,81,65
Ohio,39,66,17,265,130,123,96,93,96,307,20,60,215,204,130
Oklahoma,3,23,5,62,39,24,35,16,29,70,7,14,65,40,22
Oregon,41,71,11,268,132,115,97,77,114,335,25,65,201,172,102
Pennsylvania,14,22,7,147,59,53,37,34,54,154,10,24,101,94,70
South Carolina,17,31,14,115,59,54,48,33,57,162,10,37,123,98,59
Tennessee,30,49,12,288,134,114,78,57,104,313,28,51,207,199,126
Texas,97,184,51,818,418,370,312,221,307,830,64,164,621,537,345
Utah,19,40,10,137,62,52,55,32,51,136,6,30,116,82,53
Virginia,27,50,13,208,87,71,93,49,91,186,23,56,180,170,72
Washington,37,52,16,287,140,128,92,64,86,276,22,50,223,189,128
Wisconsin,20,46,4,172,73,82,65,40,76,180,15,34,152,126,64

# 23.Which states buy the most Outdoor Recreation products?

In [79]:
outdoor_df = df[df["products_used"] == "Outdoor Recreation"]
state_o= outdoor_df.groupby("state")["t_amt"].sum()
state_o= state_o.sort_values(ascending=False)
state_o

Series([], Name: t_amt, dtype: float64)

# 24.Compare average spending between California and Texas customers.

In [80]:
compare = df[df["state"].isin(["California", "Texas"])]
avg_spending = compare.groupby("state")["t_amt"].mean()
avg_spending

state
California    102.652182
Texas         101.379891
Name: t_amt, dtype: float64

# 25.Which quarter of the year saw the highest sales?

In [81]:
df["t_date"] = pd.to_datetime(df["t_date"])
df["Quarter"] = df["t_date"].dt.quarter
quarter= df.groupby("Quarter")["t_amt"].sum()
quarter = quarter.sort_values(ascending=False)
quarter

Quarter
3    1303137.44
1    1278092.37
2    1274397.37
4    1255193.36
Name: t_amt, dtype: float64

# 26.How does total sales vary month by month?

# 27.What is the total number of transactions per month?

In [83]:
trans = df.groupby("month").size().sort_index()
trans

month
April        4175
August       4250
December     4150
February     3834
January      4268
July         4252
June         4171
March        4360
May          4205
November     3994
October      4181
September    4160
dtype: int64

# 28.Is there a particular season when sports equipment sales spike?

# 29.How many transactions were done using credit?

In [86]:
credit = df[df["t_details"].str.contains("Credit", case=False)]
total = credit.shape[0]
total

43151

# 30.What is the total revenue generated from credit transactions?

In [87]:
credit_df = df[df["t_details"].str.contains("Credit", case=False)]
total = credit_df["t_amt"].sum()
total

np.float64(4923134.93)

# 31.Is there a difference in average spending between credit and debit customers?

In [89]:
df["Payment_Type"] = df["t_details"].str.extract("(Credit|Debit)", expand=False)
avg= df.groupby("Payment_Type")["t_amt"].mean()
avg

Series([], Name: t_amt, dtype: float64)

# 32.Which states or cities should the company focus on for marketing high-value products?


# 33.Should more inventory be stocked for Exercise & Fitness products given their popularity?

# 34.Are there product categories with high sales but low average transaction amounts?

In [ ]:
prod = df.groupby("products_used")["t_amt"].agg(["sum", "mean"])
prod = prod.sort_values(by="sum", ascending=False)
prod

                                 sum        mean
products_used
Yoga & Pilates              47804.94  107.668784
Swing Sets                  47204.14  101.733060
Lawn Games                  46828.44  100.490215
Golf                        46577.68  103.047965
Cardio Machine Accessories  46485.54  104.461888
...                              ...         ...
Tetherball                  35611.93   95.989030
Surfing                     35069.08   99.065198
Disc Golf                   33944.02   95.081289
Mechanical Puzzles          20381.67   94.798465
Air Suits                   19371.57  101.421832

[125 rows x 2 columns]

# 35.Are there underperforming service categories that need promotional offers?